/* Acordeón */
.card {
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
}

.card-header {
    background-color: #f8f9fa;
}

.card-body {
    background-color: #e9ecef;
    padding:0;
    border-radius: 0;

}

.rows_ccaa{
    padding: 0;
}


/*botones ccaa*/

.btn-ccaa {
    padding: 8px 20px;
    background-color: #016e10;
    color: #dcfcc7;
    margin-bottom: 15px;
}

.btn-ccaa:hover {
    background-color: #dcfcc7;
    color: #016e10;
}


/*botones provincias*/

.provincias_collapse {
    width: 100%;  /* Ocupa todo el ancho disponible de la página */
    background-color: #dcfcc7;
    padding: 20px 0 0 0;
    margin: 0 0 20px;
}

.btn-provincia {
    padding: 8px 20px;
    background-color: rgb(248, 192, 159); /* Color de fondo del botón activo */
    color:rgb(255, 115, 0);
    margin-bottom: 15px;
}

.btn-provincia:hover {
    background-color: rgb(255, 115, 0);
    color:  rgb(248, 192, 159);
}

/* RESULTADOS BUSQUEDA ANIMALES */

.animal_card {
    background-color: aliceblue;
}