/* ESTILOS GENERALES */

* {
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
}

body {
    margin: 50px 0 0 0;
    display: flex;
    flex-direction: column;
}

main {
    padding: 30px 0;
    text-align: center;
    flex-grow: 1; /* El contenido ocupa el espacio disponible */
}

@media (min-width: 992px) {
    header {
      max-width: 100% !important;
      width: 100% !important;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

a{
    text-decoration: none !important;
}

.content_image_home{
    padding: 15px;
    margin: 10px;
}

.content_image_home img {
    width: 100%;
}

.especiesHome .row{
    margin-bottom: 75px !important;
}

.btn-standard{
    background-color: #016e10;
    color: #dcfcc7;
    margin-bottom: 15px;
    margin: 0 auto;
    font-weight: 500;
}

.btn-standard:hover {
    background-color: #ffd5ba;
    color: #cc5c00;
    font-weight: 500;
}

.text-extraSmall{
    font-size: 0.9em !important;
    font-style: italic;
    line-height: 1;
    margin-top: 10px;
    text-align: justify;

}