/* Logo */

.logoProte img{
    width: 40%;
    padding: 20px;
}

/* Botón adopciones */

.btn-adopciones{
    padding: 23px 50px;
    background-color: #016e10;
    color: #dcfcc7;
    margin-bottom: 15px;
    margin: 0 auto;
    font-size: 2.5rem;   
}

.btn-adopciones h4 {
    font-size: 2rem;   

}

/* Detalle Protectoras */
.container-profileProte .row {
    margin-bottom: 20px;
}

.datosProte {
    text-align: left;
    padding: 0 80px;
}

.datosProte h4 {
    text-align: center;
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 1.5em;   
}

.datosProte p {
    font-size: 1.2em;
}

/* Detalle editable protectora */
.input-group {
    display: inline-flex;
    margin-bottom: 15px;
}

.input-group label {
    margin-right: 10px;
    font-weight: bold;
    white-space: nowrap;
}

.input-group .form-control {
    flex: 1;
    width: auto;
    word-wrap: break-word; 
    overflow-wrap: break-word;
    height: auto; 
    min-height: 40px;
    padding: 10px;
}

.input-sin-borde, .no-editable {
    border: none;
    background: transparent;
    outline: none;
    color: inherit;
    font: inherit;
    padding: 0;
    margin: 0;
    cursor: text;
    width: fit-content;
}

.form-control-titles {
    display: block;
    width: 100%;
    padding: .3rem .75rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-clip: padding-box;
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.input-sin-borde::placeholder, .no-editable::placeholder {
    color: #555;
    font-style: italic;
}

.input-sin-borde:focus, .no-editable:focus {
    outline: none;
    border: none;
}

/* Formulario Prote */

.form-switch {
    text-align: center;
}

.formProte, .datosProte {
    padding: 22px 106px 35px;
}

.formProte>div, .datosProte>div {
    padding: 40px 35px 35px;
    background: #dcfcc7;
    height: 100%;
}

.formProte h2 {
    color: rgb(255, 115, 0);
    font-weight: 500;
    margin: 10px 0;

}

.formProte button{
    padding: 13px 25px;
    background-color: #016e10;
    color: #dcfcc7;
    margin-bottom: 15px;
    margin: 0 auto;
}

.btn-adopciones:hover {
    background-color: #dcfcc7;
    color: #016e10;
}

.formProte button h5{
    margin: 0;
}

.formProte button:hover{
    background-color: #ffd5ba;
    color: #cc5c00;
    font-weight: 500;
}

.formProte input, .formProte textarea {
    text-align: center;
    padding: 5px 0;
}

.formProte input {
    width: 100%;
    margin: 15px 0 10px;
  }
  
.formProte textarea {
    width: 100%;
    margin: 10px 0 25px;
  }
  

  /* Sombreados */

  .shadow-right {
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.4);
  }
  
  .shadow-left {
    box-shadow: -15px 15px 10px rgba(0, 0, 0, 0.4);
  }
  
  #form_newcase {
    margin-top: 50px !important;
  }

  .login-btn {
    margin-top: 20px;
  }