#carouselExample{
    background-color: #016e10;
    padding: 20px;
    margin-bottom: 50px;
}
.carousel-item img.custom-slider-img {
    margin: 0 auto;
    aspect-ratio: 2 / 1;
    object-fit: cover;
    border-radius: 8px;
    display: block;
}


.carousel-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    max-width: 90%;
    margin: 0 auto;
}

.carousel-data{
    max-width: 50%;
}

.carousel-image img {
    max-width: 70%;
    height: auto;
    border-radius: 10px;
}

.carousel-data {
    flex: 1;
    padding: 20px;
    background-color: #dcfcc7;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.carousel-data h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #016e10;
}

.carousel-data p {
    font-size: 1rem;
    color: #016e10;
}

.carousel-navigation{
    width: 6%;
}

/* Responsividad */
@media (max-width: 768px) {
    .carousel-content {
        flex-direction: column;
        gap: 10px;
    }
    .carousel-data {
        padding: 15px;
    }
    .carousel-item img.custom-slider-img {
        width: 90%;
        height: calc(40vw);
        max-height: 300px;
    }
}
